html {
  height: 100%;
}
html body {
  display: flex;
  height: 100%;
}
html body .sidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  padding: 0.5%;
  height: 98%;
  background-color: #cecece;
  width: 35px;
  transition: 0.5s;
}
html body .sidebar a {
  text-decoration: none;
  align-self: flex-start;
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
  margin: 2px;
  width: 100%;
  color: #777;
}
html body .sidebar a:hover, html body .sidebar a:focus {
  color: black;
}
html body .sidebar a p {
  display: inline;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
  margin-left: 5px;
}
html body .sidebar a i {
  display: inline;
  font-size: 30px;
}
html body .sidebar:hover, html body .sidebar:focus {
  justify-content: flex-start;
  justify-items: flex-start;
  transition: 0.5s;
  width: 250px;
}
html body .sidebar:hover p, html body .sidebar:focus p {
  height: auto;
  width: auto;
  font-size: 20px;
}
html body .sidebar .down {
  align-self: flex-end;
}
html body .sidebar .active {
  color: rgba(0, 0, 0, 0.7);
}
html body main {
  background-color: #ddd;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
html body main .settingsBox {
  margin: 20px;
}
html body main .settingsBox .settingsRow {
  font-size: 20px;
  margin: 20px;
}
html body main .settingsBox .settingsRow input[type=range] {
  all: unset;
  width: 300px;
  border-radius: 2px;
  height: 10px;
  background-color: #ffffff;
}
html body main .settingsBox .settingsRow button {
  all: unset;
  margin: 10px 10px 10px 0;
  padding: 8px 14px;
  background-color: #fff;
}
html body main .chart {
  width: 750px;
  height: 500px;
}
html body main hr {
  all: unset;
  width: 100%;
  height: 0;
}
html body main form, html body main .formEmulation {
  padding: 10px;
}
html body main form select, html body main .formEmulation select {
  all: unset;
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  margin: 30px 0;
}
html body main form input, html body main .formEmulation input {
  all: unset;
  padding: 5px;
  background-color: #fff;
  font-size: 20px;
}
html body main form button, html body main .formEmulation button {
  all: unset;
  width: 100%;
  text-align: center;
  background-color: rgba(180, 255, 180, 0.37);
  padding: 10px;
}
html body main form .resetbtn, html body main .formEmulation .resetbtn {
  margin-bottom: 10px;
  background-color: rgba(255, 150, 150, 0.37);
}
html body main .listBox p {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  cursor: pointer;
  color: #000000;
}
html body main .listBox p:hover {
  color: #ff0000;
  text-decoration: line-through;
}
html body main .loginBox {
  width: 50%;
  margin: 20px;
  align-self: center;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.55);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
html body main .loginBox h1 {
  text-align: center;
  font-size: 30px;
  width: 100%;
}
html body main .loginBox form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
html body main .loginBox form a {
  color: #7c7c7c;
}
html body main .loginBox form input {
  font-size: 15px;
  width: 100%;
  padding: 10px;
  margin: 4px;
  background-color: #ffffff;
}
html body main .loginBox form input[type=submit] {
  width: auto;
  text-align: center;
  justify-self: right;
}
html body main .randomList {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  color: #000000;
}
html body main .randomList .disabled {
  color: #7c7c7c;
  text-decoration: line-through;
  transition: 0.3s;
}
html body main .randomList .checked {
  color: #cc0000;
  text-decoration: line-through;
  transition: 0.3s;
}
html body main .randomList .won {
  color: green;
  font-weight: bold;
  transition: 0.3s;
}
html body main .lock {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.97);
}
html body main .lock h1 {
  font-size: 50px;
  color: #ccc;
  height: 60px;
}

/*# sourceMappingURL=main.css.map */
