html {
  height: 100%;
  body {
    display: flex;
    height: 100%;
    .sidebar {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      padding: 0.5%;
      height: 98%;
      background-color: #cecece;
      width: 35px;
      transition: 0.5s;
      a{
        text-decoration: none;
        align-self: flex-start;
        display: flex;
        flex-wrap: nowrap;
        cursor: pointer;
        margin: 2px;
        width: 100%;
        color: #777;
        &:hover,&:focus{
          color: black;
        }
        p{
          display: inline;
          width: 0;
          overflow: hidden;
          white-space: nowrap;
          font-size: 0;
          margin-left: 5px;
        }
        i{
          display: inline;
          font-size: 30px;
        }
      }
      &:hover,&:focus{
        justify-content: flex-start;
        justify-items: flex-start;
        p{
          height: auto;
          width: auto;
          font-size: 20px;
        }
        transition: 0.5s;
        width: 250px;
      }
      .down{
        align-self: flex-end;
      }
      .active{
        color: rgba(0, 0, 0, 0.7);
      }
    }
    main{
      .settingsBox{
        margin: 20px;
        .settingsRow{
          font-size: 20px;
          margin: 20px;
          input[type=range]{
            all:unset;
            width: 300px;
            border-radius: 2px;
            height: 10px;
            background-color: #ffffff;

          }
          button{
            all:unset;
            margin: 10px 10px 10px 0;
            padding: 8px 14px;
            background-color: #fff;
          }
        }

      }
      .chart{
        width: 750px;
        height: 500px;
      }
      hr{
        all:unset;
        width: 100%;
        height: 0;
      }
      background-color: #ddd;
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
      form,.formEmulation{
        select{
          all:unset;
          width: 100%;
          background-color: #ffffff;
          padding: 10px;
          margin: 30px 0;
        }
        padding: 10px;
        input{
          all:unset;
          padding: 5px;
          background-color: #fff;
          font-size: 20px;
        }
        button{
          all:unset;
          width: 100%;
          text-align: center;
          background-color: rgba(180, 255, 180, 0.37);
          padding: 10px;
        }
        .resetbtn{
          margin-bottom: 10px;
          background-color: rgba(255,150,150,0.37);
        }
      }
      .listBox{
        p {
          text-align: center;
          margin-top: 5px;
          margin-bottom: 5px;
          font-size: 25px;
          cursor: pointer;
          color:#000000;
          &:hover {
            color: #ff0000;
            text-decoration: line-through;
          }
        }
      }
      .loginBox{
        width: 50%;
        margin:20px;
        align-self: center;
        padding: 20px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.55);
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        h1{
          text-align: center;
          font-size: 30px;
          width: 100%;
        }
        form{
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          a{
            color: #7c7c7c;
          }
          input{
            font-size: 15px;
            width: 100%;
            padding: 10px;
            margin:4px;
            background-color: #ffffff;
            &[type=submit]{
              width: auto;
              text-align: center;
              justify-self: right;
            }
          }
        }
      }
      .randomList{
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 20px;
        cursor: pointer;
        width: 100%;
        color:#000000;
        .disabled{
          color: #7c7c7c;
          text-decoration: line-through;
          transition: 0.3s;
        }
        .checked{
          color: #cc0000;
          text-decoration: line-through;
          transition: 0.3s;
        }
        .won{
          color: green;
          font-weight: bold;
          transition: 0.3s;
        }
      }
      .lock{
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.97);
        h1{
          font-size: 50px;
          color: #ccc;
          height: 60px;
        }
      }
    }
  }
}